body {
	font-family: Arial, Helvetica, sans-serif;
	color: black;
	background-color: #FFFFFF;
}


h1 {
	font-size: 24pt;
	margin-top: 12px;
	margin-bottom: 8px;
	padding-top: 20px;
	padding-bottom: 12px;
	line-height: 22px;
	color: #52677f;
	text-align: center
}

h2 {
	font-size: 16pt;
	margin-top: 12px;
	padding-top: 10px;
	line-height: 24px;
	color: #52677f;
	text-align: left
}

h3 {
	font-size: 14pt;
	color: #52677f;
}

h4, ul, ol, blockquote {
	margin-top: 12pt;
	margin-bottom: 8pt;
}

h5 {
  font-size: 10pt;
  margin-top: 10pt;
  margin-bottom: 0pt;
  line-height: 12px;
  text-align: center
}

p, #content li, td, li, blockquote, h4, th, #subnav {
	font-size: 12pt;
	line-height: 16pt;
}

a:link { color: blue }
a:visited { color: purple }
address {
  margin-top: 1em;
  padding-top: 1em;
  border-top: thin dotted 
}
table {
	margin-top: 24px;
}
