html {
  font-size: 100%;
}
body  {
	background : #E6E6FA;
	color : black;
	font-family : "Arial", "Helvetica", sans-serif;
	font-size : 1rem;
	margin-bottom : 1rem;
}

input  {
  font-size : 1rem;
}

h1  {
	color : #01704F;
	background : transparent;
	font-weight : bold;
	text-align : center;
	font-family : "Palatino", "Book Antiqua", "Times New Roman", serif;
	font-size : 2rem;
}

h2  {
	color : #014550;
	background : transparent;
	font-weight : bold;
	font-family : "Palatino", "Book Antiqua", "Times New Roman", serif;
	font-size : 1.8rem;
}

h3  {
	color : #4E83B9;
	background : transparent;
	margin-left : 4%;
	margin-right : 4%;
	font-weight : bold;
	font-family : "Palatino", "Book Antiqua", "Times New Roman", serif;
   font-size : 1.5rem;
}

h4  {
	margin-left : 6%;
	margin-right : 6%;
	font-weight : bold;
	font-size : 1.3rem;
}

h5  {
	margin-left : 6%;
	margin-right : 6%;
	font-weight : bold;
	font-size : 1.15rem;
}

address  {
	font-size : 1rem;
	font-family : "Arial", "Helvetica", sans-serif;
}


dl, p, form  {
	font-family : "Arial", "Helvetica", sans-serif;
	font-size : 1rem;
	margin-left : 6%;
	margin-right : 6%;
}

dt {
	margin-bottom : 0;
}

dd {
	margin-bottom : 1rem;
}

dd p {
	margin-top : 0;
}

ul, ol  {
	margin-left : 3%;
	margin-right : 2%;
}

ul ul, table ol, table ul  {
	margin-left : 5%;
	margin-right : 1%;
}

pre  {
	margin-left : 10%;
	margin-right : 10%;
	white-space : pre;
}

.code  {
	font-family : "Courier New", "Courier", monospace;
	font-size : 1rem;
}

blockquote {
	margin-left : 10%;
	margin-right : 10%;
	font-style : italic;
}

.BackToTop  {
	font-family : "Arial", "Helvetica", sans-serif;
	font-weight : bold;
	font-size : 1.2rem;
	text-align : right;
	margin-top : 1rem;
	margin-bottom : 1rem;
	margin-right : 1%;
}
.BackToTop A {color : blue;}

.Footer  {
	font-size : smaller;
	margin : 0;
	margin-top : 1rem;
	margin-bottom : 1rem;
}

.NavBar  {
	text-align: center;
	margin-top : 1rem;
}
table caption  {
	font-size : larger;
	font-weight : bolder;
}

tr, td {
	font-family : "Arial", "Helvetica", sans-serif;
	font-size : 1rem;
}

td, th {
	text-align: center;
	background-color:#E0E0E0
}

p, table dl, td p, ol p, ul p, dl p, blockquote p, li pre, dd pre  {
	margin-left : 0;
	margin-right : 0;
}

table{
  margin: 0 auto;
}



hr {
	clear : both;
}

.centered{ display:block; margin-left:auto; margin-right:auto; text-align:center;}
.error{ text-align:center; color:red; font-weight: bold; font-style: italic;}

#pwaEmbed {background:white;border:1px solid lightblue;color:blue;float:right;align:right;padding:3px;margin-left:.7em;margin-top:-5px;font-size:85%;}
#embedIt {background:#F9F9F9;border:1px solid lightblue;color:green;align:right;top:31px;right:8px;position:absolute;width:85%;padding:5px 5px 5px 12px;font-size:85%;z-index:1000;}
