body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 38pt;
	color: black;
	background-color: #FFFFFF;
}

h1 {
	font-size: 92pt;
	color: #52677f;
	text-align: center;
	margin-top: 12px;
}

h2 {
	font-size: 62pt;
	color: #52677f;
	margin-top: 10px;
	margin-bottom: 2px;
}

h3 {
	font-size: 50pt;
	color: #52677f;
	margin-top: 20px;
	margin-bottom: -6px;
}

h4 {
	font-size: 50pt;
}

ul, ol, blockquote {
	margin-top: 12px;
	margin-bottom: 16px;
}

h5 {
	font-size: 38pt;
	text-align: center
}

h6 {
	font-size: 32pt;
	text-align: center
}

table {
	margin-bottom: 6px;
	border-style: solid;
}

td {
	font-size: 50pt;
	padding: 2px 4px 2px 4px;
}